<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .modal-content  {
            background-color: rgb(0, 0, 0);
        }
    </style>
</head>
<body>
        <div modal-content>
            <div class="modal-header">
                <h5 class="modal-title" >Создать пост</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'create_post' %}" id="create-post-form">
                    {% csrf_token %}
                    
                    <!-- Поле для редактирования биографии -->
                    <div class="form-group">
                        <label for="title">Title:</label>
                            {{ form.title}}
                    </div>

                    <div class="text">
                        <label for="content">Content:</label>
                            {{ form.content}}
                    </div>

                    <div class="image">
                        <label for="image">Image:</label>
                            {{ form.image}}
                    </div>
            </form>
        
    
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Выложить пост</button>
            </div>
        </div>
        
</body>
</html>