<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2n4lODd73KlUE+kgq5tFi1Av2GgVz6u" crossorigin="anonymous">
   
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
</head>
<body>
    <header>
        <h1>Профиль {{user_profile.user.username}}</h1>
    </header>
    <main>
        <div class="sidebar">
            <h3>Меню</h3> <!-- Главное Чаты Настройки Профиль !-->
            <ul>
                <li><a href="/home">Главная страница</a></li>
    
                <li><a href="#">Мессенджер</a></li>
    
                <li><a href="#">Настройки</a></li>
    
                <li><a href="/profile">Профиль</a></li>
    
            </ul>
        </div>

        <div class="profile">
            <!-- avatar-->
            <p>{{user_profile.bio}}</p>

            <button id="editProfileBtn" class="btn btn-primary">Редактировать</button>

            <!-- Модальное окно -->
            <div class="modal" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Место для формы редактирования профиля -->
                        {% include 'edit_profile_modal.html' %}
                    </div>
                </div>
            </div>
                
            </div>
        </div>
        <div class="content">
            <p>Здесь какой-то текст</p>
        </div>
    </main>

    <footer>
        <p>© Social media 2023-2023</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" integrity="sha384-J1gIqoGQnbhZI1Au5aMAE8PDc5Em5Or3VwwlHfEM/dh5g9D2AUa7f4QAIJwoB5Kd" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2n4lODd73KlUE+kgq5tFi1Av2GgVz6u" crossorigin="anonymous"></script>


    <script>
        document.getElementById('editProfileBtn').addEventListener('click', function() {
            $('#editProfileModal').modal('show');
        });
    </script>
</body>
</html>