<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
</head>
<body>
    <header>
        <h1>Главная страница</h1>

        <p>Это главная страница </p>

        <nav>
            <a href="/accounts/register">Регистрация</a>
            <a href="/accounts/login">Вход</a>
        </nav>
    </header>
</body>
</html>