<!-- templates/registration/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">

</head>
<body>
    
    <form method="post" action="{% url 'login' %}" id="login-form">
        {% csrf_token %}

        <h1>Login</h1>

        <label for="{{form.username.id_for_label}}">Имя пользователя</label>
            {{ form.username}}
        <label for="{{form.password.id_for_label}}">Пароль</label>
            {{ form.password}}
        <button type="submit">Login</button>
    </form>
</body>
</html>
