body {
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}

.message-details {
    background-color: rgb(88, 88, 88);
    padding: 10px;
    margin: 50px;
}
.message-header {
    
    align-items: center;
    
}

.message-body {
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}